@keyframes slide-up-animation {
    0%{
      opacity: 0;
      transform: translate3d(0px, 100%, 0px);
    }
    100%{
      opacity: 1;
      transform: translate3d(0px, 0px, 0px);
    }
  }
  .slide-up-animation{
    animation-duration: 1000ms;
    animation-timing-function: ease;
    animation-delay: 0ms;
    animation-name: slide-up-animation;
    animation-direction: normal;
    animation-fill-mode: both;
    animation-iteration-count: 1
  }