body,html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: #000;
  }
  #navbar{
    color: #fff;
    position: fixed;
    top: 0;
    z-index: 1;
    align-items: center;
    width: 100%;
    background: rgba(0, 0, 0, 0.1); 
    /* transition: background 0.3s ease-out;  */
  }
  .navbar ul .navbar-item {
    display: table-cell; 
    padding: 10px 0;
  }
  ul { 
    margin: 15px auto 0; 
    padding: 0; 
    list-style: none; 
    display: table;
    text-align: center;
  }

  .navbar nav ul li a {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
  }
  .navbar nav ul li a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    
    background: #A5B4FC;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .navbar nav ul li a:hover{
    color: #A5B4FC;
  }
  .navbar nav ul li a:hover:after { 
    color: #A5B4FC;
    width: 100%; 
    left: 0; 
  }

  .scrolled {
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
  }

  .active {
    color: #A5B4FC; 
  }

  .hamburger {
    display: none;
    cursor: pointer;
    list-style: none;
  }
  
  .hamburger li:nth-child(2) {
    width: 23px;
  }
  
  .hamburger li:nth-child(3) {
    width: 15px;
  }
  @media only screen and (max-width: 880px) {
  .hamburger {
    display: block;
    right: 24px;
    top: 0px;
    height: 64px;
    align-items: center;
    position: absolute;
    cursor: pointer;
    display: flex;
    transition: 0.5s;
  }
  
  .line{
    background: #fff;
    height: 3px;
    margin: 6px;
    transition: 1s;
    width: 30px;
  }
  .item-container{
    display: none;
  }
   .item-container-active ul .navbar-item{
    display: list-item;
  }
  .item-container-active {
    width: 100%;
    margin: 0px;
    border-radius: 0px;
    height: 100vh;
  }

  .hamburger.active {
    transform: translateY(10px);
  }

  .hamburger.active li:nth-child(1) {
    -webkit-transform: rotate(405deg) translate(14px);
    transform: rotate(405deg) translate(14px);
    height: 5px;
    width: 50px;
    background-color: #818181;
    border-radius: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  .hamburger.active li:nth-child(2) {
    opacity: 0;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .hamburger.active li:nth-child(3) {
    -webkit-transform: rotate(-405deg) translate(14px);
    transform: rotate(-405deg) translate(14px);
    height: 5px;
    width: 50px;
    background-color: #818181;
    border-radius: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

  